<div class="row ">
  <mat-toolbar color="primary">
    <mat-toolbar-row >
      <span class="ml-2">Xealei</span>
      <span class="example-spacer"></span>
      <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div class="row">
  <div class="col-5">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Chat Bot</mat-card-title>
        <!-- <mat-card-subtitle></mat-card-subtitle> -->
      </mat-card-header>
      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
      <mat-card-content>
        <div class="row ml-1 mb-2">
          <div class="col-6"></div>
          <div class="col-6 right">
            <mat-card class="msg ml-2">
              <p class="ml-2 mr-2">Hi</p>
            </mat-card>
          </div>
        </div>
        <div class="row  mb-2">
          <div class="col-6">
            <mat-card class="msg ml-3">
              <p class="ml-2 mr-2">Hello there, Iam a assist bot. How can I help you ?</p>
            </mat-card>
          </div>
          <div class="col-6"></div>
        </div>
        <div class="row ml-1 mb-2">
          <div class="col-6"></div>
          <div class="col-6 right">
            <mat-card class="msg ml-2">
              <p class="ml-2 mr-2">I feel symptoms of cold</p>
            </mat-card>
          </div>
        </div>
        <div class="row  mb-2">
          <div class="col-6">
            <mat-card class="msg ml-3">
              <p class="ml-2 mr-2">Did you feel headache ?</p>
            </mat-card>
          </div>
          <div class="col-6"></div>
        </div>
        <div class="row ml-1 mb-2">
          <div class="col-6"></div>
          <div class="col-6 right">
            <mat-card class="msg ml-2">
              <p class="ml-2 mr-2">No</p>
            </mat-card>
          </div>
        </div>
        <div class="row  mb-2">
          <div class="col-6">
            <mat-card class="msg ml-3">
              <p class="ml-2 mr-2">Did you feel feverish ?</p>
            </mat-card>
          </div>
          <div class="col-6"></div>
        </div>
        <div class="row ml-1 mb-2">
          <div class="col-6"></div>
          <div class="col-6 right">
            <mat-card class="msg ml-2">
              <p class="ml-2 mr-2">No</p>
            </mat-card>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="row ml-3 mr-2 mb-3 mt-3">
          <div class="col-10">
            <input class="input" mat-input>
          </div>
          <div class="col-2">
            <button class="send" color="primary" mat-raised-button>Send</button>
          </div>
        </div>

      </mat-card-actions>
    </mat-card>
  </div>
</div>





<router-outlet></router-outlet>